body{
    background:#0b0b0b;
    color:white;
    font-family:Segoe UI, Arial;
    text-align:center;
    margin:0;
    overflow:hidden;
}

.painel{
    display:flex;
    justify-content:space-around;
}

.coluna{
    width:48%;
}

.coluna.esquerda{
    border-right:2px solid #444;
    padding-right:10px;
}

.kpi{
    background:#111;
    border:1px solid #333;
    padding:6px;
    margin-bottom:6px;
    font-size:14px;
    font-weight:bold;
    border-radius:6px;
}

.linha{
    display:flex;
    justify-content:center;
    gap:5px;
    margin:3px;
}

.bloco{
    width:65px;
    height:75px;
    border-radius:6px;
    border:1px solid #333;
    background:#161616;
}

.dia{
    background:#ccc;
    color:black;
    font-size:10px;
}

.diag{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:12px;
}

.total, .aberto{
    font-weight:bold;
}

.debito{
    font-size:11px;
    color:#ccc;
}

.ok{
    background:#1a1a1a;
}

.critico{
    background:#b30000;
}
